* {
  box-sizing: border-box;
  font-kerning: none;
  line-break: strict;
  word-break: normal;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
  linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  font-family: "Hiragino Maru Gothic Pro", sans-serif;
}

#editor {
  border: 1px solid #ccc;
  font-size: 20px;
  position: relative;
  width: 400px;
  height: 300px;
  line-height: 1.5;
}
#editor > .ProseMirror{
  font-family: 'BIZ UDPGothic', sans-serif;
  position: relative;
  width: 400px;
  height: 100%;
  left: -1px;
  top: -1px;
  overflow: scroll;
}
#editor p {
  margin: 0;
  padding: 0;
}
#editor br {
  position: relative;
  height: 0;
  font-size: 0;
}

.colorButton {
  appearance: none;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: currentColor;
}

#canvas {
  border: 1px solid #ccc;
  height: 400px;
  width: 300px;
}